<objects xmlns="http://www.springframework.net">
	
	<object id="MacroEnumerizer"
	  type="VoodooWarez.Systems.Import.MacroEnumerizer, min"
	  parent="BaseMacroEnumerizer" >
		<property name="EnumMap">
			<ref object="InputEnumMap" />
		</property>
		<property name="EnumMangler">
			<list>
				<ref object="ChompMangler" />
				<ref object="InputEnumMangler" />
			</list>
		</property>
	</object>
	
	<object id="InputEnumMangler"
	  type="VoodooWarez.ExCathedra.Mangle.NameMapMangler, ExCathedra">
		<constructor-arg index="0">
			<ref object="InputEnumMap" />
		</constructor-arg>
	</object>
	
	<object id="InputEnumMap" 
	  type="DictFactory"
	  factory-method="CreateDict&lt;string,string>">
		<constructor-arg index="0">
			<dictionary key-type="string" value-type="string">
				<entry key="EV" value="EventTypeEnum" />
				<entry key="SYN" value="SynchronizationEventEnum" />
				<entry key="KEY" value="KeyEnum" />
				<entry key="BTN" value="ButtonEnum" />
				<entry key="REL" value="RelativeAxesEnum" />
				<entry key="ABS" value="AbsoluteAxesEnum" />
				<entry key="SW" value="SwitchEventsEnum" />
				<entry key="MSC" value="MiscEnum" />
				<entry key="LED" value="LedEnum" />
				<entry key="REP" value="AutoRepeatEnum" />
				<entry key="SND" value="SoundEnum" />
				<entry key="ID" value="IdentifierEnum" />
				<entry key="BUS" value="BusEnum" />
				<entry key="MT_TOOL" value="MtToolEnum" />
				<entry key="FF_STATUS" value="FfStatusEnum" />
				<entry key="FF_EFFECTS" value="FfEffectsEnum" />
				<entry key="FF" value="FfEnum" />
			</dictionary>
		</constructor-arg>
	</object>
	
</objects>
